<body class="sanguosha_body">
<%= render 'banner' %>
<%= link_to 'Add New Card', new_sanguoshacard_path %>
<h2>吴将 Wu Heroes</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @wu_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>魏将 Wei Heroes</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @wei_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>蜀将 Shu Heroes</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @shu_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>群雄 Qun Heroes</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @qun_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>神将 God Heroes</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @god_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>其他武将 Other Heroes</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @other_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>基本牌 Basic Cards</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @basic_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>锦囊牌 Tool Cards</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @tool_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>延时锦囊牌 Time-Delay Tool Cards</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @timedelay_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>武器 Weapons</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @weapon_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>防具 Armour</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @armour_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>马 Horses</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @horse_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>宝物 Treasure</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @treasure_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<%= link_to 'Add New Card', new_sanguoshacard_path %>
</body>
