<body class="sanguosha_body">
<%= render 'banner' %>
<%= link_to 'Add New Card', new_sanguoshacard_path %>
<h2>Wu Heroes</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @wu_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>		
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>		
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>Wei Heroes</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @wei_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>		
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>		
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>Shu Heroes</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @shu_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>		
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>		
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>Qun Heroes</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @qun_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>		
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>		
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2> God Heroes</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @god_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>		
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>		
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>Other Heroes</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @other_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>		
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>		
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>Basic Cards</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @basic_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>		
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>		
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>Tool Cards</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @tool_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>		
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>		
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>Time-Delay Tool Cards</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @timedelay_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>		
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>		
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>Weapons</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @weapon_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>		
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>		
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>Armour</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @armour_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>		
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>		
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>Horses</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @horse_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>		
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>		
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<h2>Treasure</h2>
<table>
	<% index = 1 %>
	<tr>
	<% @treasure_cards.each do |card| %>
         	<td>
               		<a href=<%= sanguoshacard_path(card) %> >
                       		<%= link_to image_tag(card.image.url(:index_thumb)), sanguoshacard_path(card) %>
               		</a>
      		</td>		
		<% if(index == Card::WIDTH) %>
			</tr>
			<tr>		
			<% index = 0 %>

		<% end %>

		<% index += 1%>
	<% end %>
	</tr>
</table>
<%= link_to 'Add New Card', new_sanguoshacard_path %>
</body>
