<body class="sanguosha_body">
<%= render 'banner' %>
<h1><%= @sanguoshacard.name %></h1>
<h3><%= @sanguoshacard.cardtype %></h3>
<%= image_tag(@sanguoshacard.image.url, width: "300", height: "431") %>
<% if @sanguoshacard.secondaryimage.file? %>
	<%= image_tag(@sanguoshacard.secondaryimage.url, width: "300", height: "431") %>
<% end %>
<h2>Explanation and Usage</h2>
		<%= simple_format(@sanguoshacard.explanation) %>
<%= link_to 'Edit', edit_sanguoshacard_path(@sanguoshacard) %>
<%= link_to 'Add New Card', new_sanguoshacard_path %>
<%= link_to 'Go Back', sanguoshacards_path %>
</body>
