<%= stylesheet_link_tag "banner.css" %>
<% if false %>
<table>
        <tr>
               
               	<div class="banner_sanguosha">
			<th>
		    	 <a href=<%= sanguoshacards_path%>>
                               <p>San Guo Sha Cards</p>
                        </a>
			</th>
		</div>
                
                
		<div class="banner_guozhan">
			<th>
                        <a href=<%= guozhancards_path%>
                                <p>Guo Zhan Cards</p>
                        </a>
			</th>
		</div>
                
        </tr>
</table>
<% end %>
<div class="table_div">
<table>
<tr>
	<th>
		<a href=<%= sanguoshacards_path%>>
			<div class="banner_sanguosha">
				<span class="banner_text">San Guo Sha</span>			
			</div>
		</a>
	</th>
	<th>
		<a href=<%= guozhancards_path%>>
			<div class="banner_guozhan">
				<span class="banner_text">Guo Zhan</span>
			</div>
		</a>
	</th>
</tr>
</table>
</div>
