<body class="guozhan_body">
<%= render 'banner' %>
<h1><%= @guozhancard.name %></h1>
<h3><%= @guozhancard.cardtype %></h3>
<%= image_tag(@guozhancard.image.url, width: "300", height: "431") %>
<% if @guozhancard.secondaryimage.file? %>
        <%= image_tag(@guozhancard.secondaryimage.url, width: "300", height: "431") %>
<% end %>
<h2>Explanation and Usage</h2>
	<p>
		<%= simple_format(@guozhancard.explanation) %>
	</p>
<%= link_to 'Edit', edit_guozhancard_path(@guozhancard) %>
<%= link_to 'Add New Card', new_guozhancard_path %>
<%= link_to 'Go Back', guozhancards_path %>
</body>
