<%= form_for @card do |c| %>
	<% if @card.errors.any? %>
		<div>
			<h2>
				<%= pluralize(@card.errors.count, "error") %> prevented this card from being saved: 
			</h2>
			<ul>
				<% @card.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= c.label :name %><br>
		<%= c.text_field :name %>
	</p>

	<p>
		<%= c.label :cardtype %><br>
		<%= c.collection_select :cardtype, Card::TYPES, :to_s, :to_s, :include_blank => true %>
</p>
	
	<p>			
		<%= c.label :explanation %><br>
		<%= c.text_field :explanation %>
	</p>

	<p>
		Image: (Supported formats: <em>jpeg, gif, png</em>, recommended dimensions: 1113x1600)<br>
		<%= c.file_field :image %>
	<p>
		<%= c.submit %>
	</p>
<% end %>
