<h1><%= @card.name %></h1>
<h3><%= @card.cardtype %></h3>
<%= image_tag(@card.image.url, width: "300", height: "431") %>
<h2>Explanation and Usage</h2>
	<p>
		<%= @card.explanation %>
	</p>
<%= link_to 'Edit', edit_card_path(@card) %>
<%= link_to 'Add New Card', new_card_path %>
<%= link_to 'Go Back', cards_path %>
